/* build time:Thu Dec 11 2025 23:43:00 GMT+0800 (中国标准时间)*/
@font-face{font-family:English-Font;font-display:swap;src:url(../../font/TitilliumWeb-ExtraLightItalic-6.ttf) format("truetype")}:lang(en){font-family:English-Font}
/* rebuild by neat */