/* build time:Sat Dec 06 2025 23:27:09 GMT+0800 (中国标准时间)*/
@font-face{font-family:English-Font;font-display:swap;src:url(../../font/TitilliumWeb-ExtraLightItalic-6.ttf) format("truetype")}:lang(en){font-family:English-Font}
/* rebuild by neat */