/* build time:Fri Dec 12 2025 00:41:26 GMT+0800 (中国标准时间)*/
body{cursor:url(https://cdn.jsdelivr.net/gh/kaix2301/pictures/img202201071208706.cur),auto}a{cursor:url(https://cdn.jsdelivr.net/gh/kaix2301/pictures/img202201071205091.cur),auto!important}
/* rebuild by neat */